@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: #171717;
  color: #fff;
}

@layer components {
  .active-nav-link {
    @apply bg-neutral-700 font-semibold rounded-full text-white;
  }
}
