@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: #0a0a0a;
  color: #fff;
}

@layer components {
  .active-nav-link {
    @apply font-semibold text-white rounded-full bg-neutral-700;
  }
}
